.outsideContainer{
    width: 70%; 
    height: fit-content;
    margin: 20px auto;
    /* background-color: rgba(245, 245, 245, 0.158);  */
    border: solid rgb(215, 214, 214) 1px;
    border-radius: 6px;
    box-shadow: -2px 2px 1px #6bc8f0a9;
}

th{
    border: solid gray 1px;
    width: 2%;
}

.sk8Name{
    text-align:left;
    width: 10%;
}

.resultSection{
    border: solid rgb(215, 214, 214) 1px;
    border-radius: 5px;
}
.resultContainer{
    padding: 50px 10px;
    
}

.results{
    /* border: solid red 1px; */
    padding: 20px 0;
    text-align: left;
    flex-direction: column;
    flex-basis: 50%;
}
.cat{
    font-size: 1.3em;
    font-weight: 500;
    margin-left: 10px;
}

.rImage{
    height: 120px;
    width: 120px;
    margin-right: 20px;
}

.eventRName{
    font-size: 2em;
    font-weight: 500;
}

.eventRLocation{
    font-size: 1.5em;
    margin-bottom: 5px;
}

.outerHeader{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}



.headerInfo{
    text-align: left
}

@media only screen and (max-width: 900px) {
    .results{
        /* border: solid red 1px; */
        margin: 0 auto;
        text-align: left;
        /* flex-direction: column; */
        flex-basis: 100%;
    }

    .headerImage{
        margin: 0 auto;
    }
}